@use "../../assets/variables" as *;
.contact-container {
  color: $white;
  @include flex(0);
  justify-content: center;
  position: relative;
  align-items: center;
  background-color: rgba(32, 31, 31, 1);
  .contact-img {
    position: relative;

    flex: 1;
    padding: 5%;
    width: 100%;
    height: 80%;
    img {
      max-height: 500px;
      width: 100%;

      object-fit: cover;
    }
    @media (max-width: 670px) {
      padding: 1%;
    }
    @media (max-width: 600px) {
      position: absolute;
      z-index: 0;
      opacity: 0.3;
      height: 105%;
      top: 0;
      object-fit: cover;
      filter: drop-shadow(0 0 0.75rem black);
      img {
        width: 100%;
        max-height: 100%;
      }
    }
  }
  .contact-form {
    z-index: 1;
    flex-direction: column;
    height: 100%;
    width: 100%;
    flex: 1.2;
    padding: 5%;
    align-items: center;
    @include flex(30px);
    h2 {
      width: 100%;
    }

    .exmple {
      align-items: center;
      @include flex(10px);
      width: 100%;
      img {
        width: 50px;
        height: 50px;
        margin-right: 10px;
      }
      p {
        display: block;
        padding: 2px;
        color: rgb(168, 168, 168);
        border: 1px solid rgb(168, 168, 168);
        font-size: 0.8rem;
      }
    }
    form {
      width: 100%;
      color: $white;
      input {
        display: block;
        color: $white;
        padding: 10px;

        width: 100%;
        height: 30px;
        margin: 10px 0;
        background-color: rgba(52, 51, 51, 1);
        outline: none;
        border: none;
        &:focus {
          border: 1px solid rgba(255, 255, 255, 0.486);
          background-color: rgb(70, 70, 70);
        }
      }
      textarea {
        padding: 10px;
        outline: none;
        border: none;
        width: 100%;
        height: 100px;
        resize: none;
        color: $white;
        margin: 10px 0;
        background-color: rgba(52, 51, 51, 1);
        &:focus {
          border: 1px solid rgba(255, 255, 255, 0.486);
          background-color: rgb(70, 70, 70);
        }
      }
    }
  }
}
